.container {
  width: 100%;
  max-width: 1180px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
main {
  flex-grow: 1;
}

@media only screen and (max-width: 1024px) {
  main {
    margin-top: 104px;
  }
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: 85px;
  }
}