.projects {
    margin-bottom: 20px;
}

/* PROJECT LIST */
.projects__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* DEFAULT: DESKTOP ( ≥ 1366px ) → 4-column */
.projects__item {
    width: 100%;
}



/* PROJECT CARD */
.project__card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.project__card-img {
    width: 100%;
    display: block;
    border-radius: 4px;
}

.project_card-info {
    padding-top: 10px;
}

.project__category {
    display: inline-flex;
    margin-bottom: 10px;
    padding: 4px 10px;
    background: rgba(69, 164, 251, 0.25);
    border-radius: 20px;
}

.project__card-name {
    margin: 0 0 8px 0;
}

.project__card--details__item {
    display: flex;
    margin-bottom: 20px;
}

.project__card--details__title {
    font-weight: bold;
    margin-right: 20px;
}

.project__card--details-value {
    margin: 0;
    color: #636363;
}

/* LINKS */
.project__card--link__list {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.project__card--link {
    position: relative;
    color: #383838;
    text-decoration: none;
    transition: color 0.3s;
}

.project__card--link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 1px;
    color: #3F9CFB;
    background: currentColor;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.project__card--link:hover {
    color: #3F9CFB;
    opacity: 0.8;
}
.project__card--link:active {
    opacity: 0.6;
}

.project__card--link:hover::after {
    width: 100%;
}

/* LAPTOP ( ≤ 1366px ) → 3-column */
@media (max-width: 1366px) {
    .projects__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .projects__list {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MOBILE ( ≤ 768px ) → 1-column */
@media (max-width: 720px) {
    .main-content {
        justify-content: center;
    }
    .filters {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .filters__select,
    .filters__search-input {
        min-width: 100%;
    }


    .projects__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .projects__item {
        width: 100%;
    }
}



