.projects {
    margin-bottom: 20px;
}

/* PROJECT LIST */
.projects__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.projects__item {
    width: 100%;
}

/* PROJECT CARD */
.project-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.project-card__img {
    width: 100%;
    display: block;
    border-radius: 4px;
}

.project-card__info {
    padding: 10px;
}

.project-card__category {
    display: inline-flex;
    margin-bottom: 10px;
    padding: 4px 10px;
    background: rgba(69, 164, 251, 0.25);
    border-radius: 20px;
    font-size: 12px;
    color: var(--primary-color);
}

.project-card__name {
    margin: 0 0 8px 0;
    font-size: 16px;
}

.project-card__details-item {
    display: flex;
    margin-bottom: 20px;
}

.project-card__details-title {
    font-weight: bold;
    margin-right: 8px;
    font-size: 14px;
}

.project-card__details-value {
    margin: 0;
    color: #636363;
    font-size: 15px;
}

/* LINKS */
.project-card__links {
    display: flex;
    gap: 14px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.project-card__link-wrapper {
    display: flex;
    align-items: center;
}

.project-card__icon {
    font-size: 16px;
    margin-right: 6px;
    color: var(--primary-color);
}

.project-card__icon-font {
    font-size: 20px;
}

.project-card__link {
    position: relative;
    color: #383838;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 14px;
}

.project-card__link:hover {
    color: #3F9CFB;
    opacity: 0.8;
}

.project-card__link:active {
    opacity: 0.6;
}


/* LAPTOP ( ≤ 1366px ) → 3-column */
@media (max-width: 1366px) {
    .projects__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .projects__list {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MOBILE ( ≤ 768px ) → 1-column */
@media (max-width: 720px) {
    .main-content {
        justify-content: center;
    }
    
    .filters {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .filters__select,
    .filters__search-input {
        min-width: 100%;
    }


    .projects__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .projects__item {
        width: 100%;
    }
}



