.portfolio {
    margin-bottom: var(--space-desktop);
}
/* HEADER */
.portfolio__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.portfolio__title {
    margin: 0;
    font-size: 22px;
    color: var(--grey-blue);
}

.portfolio__more {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

.portfolio__more-icon {
    transition: transform 0.3s ease;
}

.portfolio__more:hover {
    color: var(--primary-color);
}

.portfolio__more:hover .portfolio__more-icon {
    transform: translateX(6px);
}


.portfolio__more:active {
    opacity: 0.6;
}


/* CAROUSEL WRAPPER */
.portfolio__wrapper {
    width: 100%;
    overflow: hidden;
}

/* FLEX CARDS */
.portfolio__carousel {
    padding: 4px;
    display: flex;
    gap: 24px;
    transition: transform .35s ease;
}

/* BOTTOM CONTROLS */
.portfolio__controls {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.portfolio__nav {
    background: #fff;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
}

.portfolio__nav--button-wrapper {
    display: flex;
    justify-content: center;
}

@media (max-width: 1199px) {
    .portfolio {
        margin-bottom: var(--space-laptop);
    }
}


/* ------------ DESKTOP 4 cards ------------ */
@media (min-width: 1025px) {
    .portfolio__carousel {
        transform: none !important;
    }
    .portfolio__controls {
        display: none;
    }
}

/* ------------ TABLET (2.1 card) ------------ */
@media (max-width: 1024px) and (min-width: 641px) {
    .portfolio__carousel {
        gap: 8px;
    }
}

/* Tablet */
@media (max-width: 991px) {
  .portfolio {
    margin-bottom: var(--space-tablet);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .portfolio {
    margin-bottom: var(--space-mobile);
  }
}

/* ------------ MOBILE (1.1 card) ------------ */
@media (max-width: 640px) {
    .portfolio__title,
    .portfolio__more {
        font-size: 20px;
    }
}

