.project__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Title */
.project__title {
  margin: 0;
  margin-right: 14px;
  font-size: 32px;
}

/* Badge */
.project__tag {
  display: inline-block;
  padding: 6px 14px;
  background: #e4f1ff;
  color: var(--primary-color);
  border-radius: 14px;
  font-size: 14px;
}

/* PROJECT PAGE */
.single-project__wrapper {
  margin-bottom: var(--space-desktop);
  display: grid;
  grid-template-columns: 460px 2fr;
  gap: 40px;
}

/* Image */
.project__img {
  width: 100%;
  border-radius: 8px;
}

/* Content */
.project__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.project__text {
  font-weight: normal;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 15px;
}

.project__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 20px;
}

.project__item {
  margin-bottom: 8px;
  padding-left: 18px;
  position: relative;
  color: rgba(0,0,0,0.75);
  font-size: 16px;
}

.project__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 10px;
  height: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 50%; 
}

/* Links */
.project__links {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.project__link-gray {
  color: #676767;
  text-decoration: none;
  font-weight: 500;
  transition: .2s;
}

.project__link-gray:hover {
  color: var(--primary-color);
}

.project__icon {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  .single-project__wrapper {
    margin-bottom: var(--primary-tablet);
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .project__img {
    width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
    .single-project__wrapper {
    margin-bottom: var(--primary-mobile);
  }

  .project__title {
    font-size: 24px;
  }

  .project__subtitle {
    font-size: 18px;
  }
}
