/*
 Theme Name: Hello Elementor Child
 Template: hello-elementor
 Version: 1.0.0
*/

@import url('./base.css');
@import url('./header.css');
@import url('./layout.css');
@import url('./normalize.css');
@import url('./variables.css');
@import url('./navbar.css');
@import url('./components/buttons.css');
@import url('./language-dropdown.css');
@import url('./footer.css');
@import url('./intro-section.css');
@import url('./skills-section.css');
@import url('./carousel.css');
@import url('./sample-project.css');
@import url('./hero.css');