:root {
  /* COLORS */
  --primary-color: #3f9cfb;
  --green: #5fb4a2;
  --dark-blue: #203a4c;
  --grey-blue: #33323d;
  --light-grey: #fafafa;
  --grey: #eaeaeb;
  --red: #f43030;


  /* FONTS */
  --accent-font-family: 'Poppins', 'Times New Roman', serif;
  --body-font-family: 'Public Sans', 'Arial', sans-serif;


  /* SECTION-SPACE */
  --space-desktop: 96px;
  --space-laptop: 80px;
  --space-tablet: 64px;
  --space-mobile: 48px;
}