/* SITE HEADER BUTTON MENU */
.site-header__toggler {
    padding: 0;
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.site-header__toggler-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.site-header__toggler-icon {
    display: none;
    color: var(--primary-color);
    width: 100%;
    font-size: 40px;
}

@media (max-width: 1023px) {
    .site-header__toggler-icon {
        display: block;
    }
}

@media (max-width: 580px) {
    .site-header__toggler-icon {
        font-size: 36px;
    }
}

/* CTA BUTTON */
.site-header__cta-button {
    padding: 6px 20px;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: background-color, 0.3s;
}

.site-header__cta-button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

@media only screen and (max-width: 1024px) {
    .site-header__container .cta-button-wrapper {
        display: none;
    }
}


/* SOLID BUTTON */
.solid-button {
    padding: 16px 24px;
    display: inline-block;
    border: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--dark-blue);
}

.solid-button:hover {
    opacity: 0.8;
}

.solid-button:active {
    opacity: 0.6;
}

@media (max-width: 500px) {
    .solid-button--full-width {
        width: 100%;
    }
}


/* PROJECT BUTTON START*/
.project__button {
  display: inline-flex;
  align-items: center;
  gap: 6px;             
  margin-bottom: 20px;
  color: #fff;            
  font-size: 15px;
  text-decoration: none;
  transition: .2s ease;
}

.project__button i {
  font-size: 15px;
  transition: .2s ease;
}

.project__button:hover i {
  transform: translateX(-3px);
}
/* PROJECT BUTTON end*/