.site-header__cta-button {
    padding: 6px 20px;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: background-color, 0.3s;
}

.site-header__cta-button:hover {
    background-color: var(--primary-color);
    color: #fff;
}